@using System.Net.Http.Json
@using System.Globalization

<div class="kori-login__language-desktop">
    <button class="kori-login__language-btn" @onclick=ToggleLanguageSettings>
        <div class="kori-login__language-btn-content kori-login__text-btn">
            <img src="_content/Sparc.Kori/icons/Language.svg" /> @SelectedLanguage?.DisplayName
        </div>
        <img class="kori-login__expand-icon @(ShowLanguageSettings ? "rotate": "")" src="_content/Sparc.Kori/icons/Expand.svg" />
    </button>
    <ul class="kori-login__language-list @(ShowLanguageSettings? "show" : "")">
        @if (Languages != null)
        {
            @foreach (var language in Languages)
            {
                <li>
                    <button class="kori-login__change-language-btn kori-login__text-btn" @onclick=@(() => ChangeLanguage(language))>
                        @language.DisplayName

                        @if (language.DisplayName != language.NativeName)
                        {
                            <aside>@language.NativeName</aside>
                        }

                        @* @if (User.Language == language.Id)
            {
            <div class="right">
            <img src="icons/Check.svg" />
            </div>
            }
            *@
                    </button>
                </li>
            }
        }
    </ul>
</div>

<div class="kori-login__language-mobile">
    <div class="kori-login__language-selected">
        @SelectedLanguage?.DisplayName
        <aside>@SelectedLanguage?.NativeName</aside>
    </div>
    <ul class="kori-login__language-list show">
        @if (Languages != null)
        {
            @foreach (var language in Languages)
            {
                <li>
                    <button class="kori-login__change-language-btn kori-login__text-btn" @onclick=@(() => ChangeLanguage(language))>
                        @language.DisplayName

                        @if (language.DisplayName != language.NativeName)
                        {
                            <aside>@language.NativeName</aside>
                        }

                        @* @if (User.Language == language.Id)
            {
            <div class="right">
            <img src="icons/Check.svg" />
            </div>
            }
            *@
                    </button>
                </li>
            }
        }
    </ul>
</div>

@inject KoriLanguageEngine KoriLanguageEngine

@code {
    [Parameter] public KoriLanguage? SelectedLanguage { get; set; }
    [Parameter] public EventCallback<KoriLanguage> LanguageChanged { get; set; }
    //string? SelectedLanguageId { get; set; }
    // Language? selectedLanguage;
    List<KoriLanguage>? Languages { get; set; }

    bool ShowLanguageSettings = false;

    protected override async Task OnInitializedAsync()
    {
        //SelectedLanguageId = CultureInfo.CurrentUICulture.TwoLetterISOLanguageName;
        Languages = KoriLanguageEngine.AllLanguages;
        Languages = Languages.OrderBy(x => x.DisplayName).ToList();
        //SelectedLanguage = Languages.First(x => x.Id == SelectedLanguageId);
    }

    // async Task<List<KoriLanguage>> GetLanguagesAsync()
    // {
    //     var client = new HttpClient { BaseAddress = new Uri("https://ibis-web-kori.azurewebsites.net/") };
    //     return await client.GetFromJsonAsync<List<KoriLanguage>>("publicapi/Languages")
    //            ?? new List<KoriLanguage>();
    // }

    void ToggleLanguageSettings()
    {
        ShowLanguageSettings = !ShowLanguageSettings;
    }

    async Task ChangeLanguage(KoriLanguage language)
    {
        await LanguageChanged.InvokeAsync(language);
        ToggleLanguageSettings();
    }
}