@using Microsoft.AspNetCore.Components.Authorization

<Router AppAssembly="@AssemblyProvider.AppAssembly" AdditionalAssemblies="@AssemblyProvider.AdditionalAssemblies">
    <Found Context="routeData">
        <Sparc.Blossom.Realtime.BlossomRealtimeHub>
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@AssemblyProvider.DefaultLayout">
                <NotAuthorized>
                    @if (!context.User.Identity?.IsAuthenticated == true)
                    {
                        @*                     <RedirectToLogin />
                    *@  }
                    else if (NotAuthorized is not null)
                    {
                        @NotAuthorized
                    }
                    else
                    {
                        <div class="blossom-authentication">
                            You are not authorized to access
                            this resource.
                        </div>
                    }
                </NotAuthorized>
                <Authorizing>
                    @if (Authorizing is not null)
                    {
                        @Authorizing
                    }
                    else
                    {
                        <div class="blossom-authentication">
                            Logging you in...
                        </div>
                    }
                </Authorizing>
            </AuthorizeRouteView>
            <FocusOnNavigate RouteData="routeData" Selector="h1" />
        </Sparc.Blossom.Realtime.BlossomRealtimeHub>
    </Found>
    <NotFound>
        <LayoutView Layout="@AssemblyProvider.DefaultLayout">
            @if (NotFound is not null)
            {
                @NotFound
            }
            else
            {
                <p>Sorry, there's nothing at this address.</p>
            }
        </LayoutView>
    </NotFound>
</Router>

@inject BlossomAssemblyProvider AssemblyProvider
@code {
    [Parameter] public RenderFragment NotAuthorized { get; set; } = null!;
    [Parameter] public RenderFragment Authorizing { get; set; } = null!;
    [Parameter] public RenderFragment NotFound { get; set; } = null!;
    [Parameter] public RenderFragment Loading { get; set; } = null!;
}