@namespace Sparc.Blossom

@using Sparc.Blossom.Authentication

<Router AppAssembly="@Startup.Assembly" PreferExactMatches="@true" AdditionalAssemblies="@AdditionalAssemblies">
    <Found Context="routeData">
        <RouteView RouteData="routeData" DefaultLayout="@MainLayout" />
        <FocusOnNavigate RouteData="routeData" Selector="h1" />
    </Found>
    <NotFound>
        <LayoutView Layout="@MainLayout">
            @if (NotFound is not null)
            {
                @NotFound
            }
            else
            {
                <p>Sorry, there's nothing at this address.</p>
            }
        </LayoutView>
    </NotFound>
</Router>



@code {
    [Parameter] public Type Startup { get; set; } = null!;
    [Parameter] public Type MainLayout { get; set; } = null!;
    [Parameter] public RenderFragment NotAuthorized { get; set; } = null!;
    [Parameter] public RenderFragment Authorizing { get; set; } = null!;
    [Parameter] public RenderFragment NotFound { get; set; } = null!;
    [Parameter] public RenderFragment Loading { get; set; } = null!;

    //public System.Reflection.Assembly[] AdditionalAssemblies => MainLayout.Assembly.FullName == Startup.Assembly.FullName
    //    ? new[] { this.GetType().Assembly }
    //    : new[] { this.GetType().Assembly, MainLayout.Assembly };

    public System.Reflection.Assembly[] AdditionalAssemblies => MainLayout.GetType().Assembly.FullName == this.GetType().Assembly.FullName
        ? new System.Reflection.Assembly[] { }
        : new[] { MainLayout.Assembly};
} 