@inherits Sparc.UI.RootElement

<CascadingAuthenticationState>
    <Router AppAssembly="@Startup.Assembly" PreferExactMatches="@true" AdditionalAssemblies="@AdditionalAssemblies">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData"
                                DefaultLayout="@MainLayout">
                <NotAuthorized>
                    @if (!context.User.Identity.IsAuthenticated)
                    {
                        <Sparc.Platforms.Maui.Platforms.Web.Authentication.RedirectToLogin />
                    }
                    else if (NotAuthorized is not null)
                    {
                        @NotAuthorized
                    }
                    else
                    {
                        <div class="sparc-authentication">
                            You are not authorized to access
                            this resource.
                        </div>
                    }
                </NotAuthorized>
                <Authorizing>
                    @if (Authorizing is not null)
                    {
                        @Authorizing
                    }
                    else
                    {
                        <div class="sparc-authentication">
                            Logging you in...
                        </div>
                    }
                </Authorizing>
            </AuthorizeRouteView>
        </Found>
        <NotFound>
            <LayoutView Layout="@MainLayout">
                @if (NotFound is not null)
                {
                    @NotFound
                }
                else
                {
                    <p>Sorry, there's nothing at this address.</p>
                }
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>

@if (Loading != null)
{
    <div class="sparc-loading @(RootScope.IsLoading ? "sparc-loading-active" : "")">
        @Loading
    </div>
}

@code {
    [Parameter] public Type Startup { get; set; }
    [Parameter] public Type MainLayout { get; set; }
    [Parameter] public RenderFragment NotAuthorized { get; set; }
    [Parameter] public RenderFragment Authorizing { get; set; }
    [Parameter] public RenderFragment NotFound { get; set; }
    [Parameter] public RenderFragment Loading { get; set; }

    public System.Reflection.Assembly[] AdditionalAssemblies => MainLayout.Assembly.FullName == Startup.Assembly.FullName
        ? new[] { this.GetType().Assembly }
        : new[] { this.GetType().Assembly, MainLayout.Assembly };
} 