@page "/components-demo"

<div class="components-demo">
    <header> 
        <h1>Component Library</h1>
    </header>

    <div class="components-list">
        <Tooltip 
            Label="CreateAvatar"
            CloseType="Text"
            ClosePosition="CenterBottom"
            CloseText="Dismiss"
            CarrotPosition="Top">
            <div class="tooltip-title">
                Create your Avatar
            </div>
            <div class="tooltip-text">
                You can change your display name, default language, voice, and avatar anytime you want! Check out your profile settings.
            </div>
        </Tooltip>
            
        <Tooltip 
            Label="InviteFriends"
            Title="Invite friends here!" 
            Text="You can invite your friends by sending an invitation email to them."
            CloseType="Icon"
            ClosePosition="RightTop"
            CloseText="Dismiss"
            CarrotPosition="Left"
            />

        @*<BlossomModal Title="Example Modal" Text="Are you sure?" Type="Delete" />*@
        <BlossomModal @ref=ExampleModal OnOk="Save" OkText="All done!" OnCancel="Restore">
            <header>Edit @ModalValue.Name</header>
            <p>@ModalValue.Category, @ModalValue.Description, @ModalValue.Length inches</p>
            <input type="number" @bind="NewLength" placeholder="New inches..." />
        </BlossomModal>

        <button class="open-modal" @onclick=Edit>Edit Nemo</button>

        <span>Selected Value: @SelectedValue</span>
        <Dropdown Values="SimpleFish" @bind-SelectedValue="SelectedValue" ShowSearch="true" />

        <span>Selected Value 2: @SelectedValue2?.Name</span>
        <Dropdown Values="Fish" Value="f => f.Id" Name="f => f.Description" @bind-SelectedValue="SelectedValue2" ShowSearch="true" />

        <span>Selected Grouped Value: @SelectedValue3?.Name</span>
        <Dropdown Values="Fish" Value="f => f.Id" Name="f => f.Description" GroupBy="x => x.Category" @bind-SelectedValue="SelectedValue3" ShowSearch="true" />
    </div>
</div>

<style>
    .components-demo {
        font-family: 'CircularStd', sans-serif;
    }

    .components-list {
        display: flex;
        flex-direction: column;
        gap: 60px;
    }
</style>

@code {
    string[] stringArray = { "one", "two", "three", "four" };
    string? SelectedValue;
    ExampleFish? SelectedValue2;
    ExampleFish? SelectedValue3;
    ExampleFish ModalValue = new(10, "Clownfish", "Nemo", 10, "Ocean");
    record ExampleFish(int Id, string Name, string Description, int Length, string Category);
    BlossomModal ExampleModal = null!;
    int NewLength = 0;

    List<ExampleFish> Fish = new()
    {
        new(1, "Bass", "Sea Bass", 48, "Sea"),
        new(2, "Trout", "Rainbow Trout", 24, "River"),
        new(3, "Salmon", "Atlantic Salmon", 36, "River"),
        new(4, "Tuna", "Bluefin Tuna", 84, "Sea"),
        new(5, "Cod", "Atlantic Cod", 36, "No Idea")
    };

    List<string> SimpleFish = new()
    {
        "Bass", "Trout", "Salmon", "Tuna", "Cod"
    };

    void Edit() => ExampleModal.Show();

    async Task Save()
    {
        await Task.Delay(1000);
        ModalValue = ModalValue with { Length = NewLength };
    }

    async Task Restore()
    {
        NewLength = 0;
        Console.WriteLine("User cancelled");
    }

    protected override void OnInitialized()
    {
        base.OnInitialized();
    }
}
